html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
    position: absolute;
    margin: 0;
    padding-bottom: 90px;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: white;
    /*font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: {{ site.data.template.font.third }};
    color: {{ site.data.template.color.secondary-dark }};
}

.text-muted {
    color: #{{ site.data.template.color.muted }};
}

.text-primary {
    color: #{{ site.data.template.color.primary }};
}

p {
    line-height: 1.75;
	font-size: 110%;
}

p.large {
    font-size: 120%;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #{{ site.data.template.color.primary }};
}

a:hover,
a:focus,
a:active,
a.active {
    color: #{{ site.data.template.color.secondary }};
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    /*font-weight: 700;*/
}

h4 {
	font-size: 120%;
}

.img-centered {
    margin: 0 auto;
}

aside.clients {
    padding-top: 150px;
    padding-bottom: 100px;
}

aside.clients,
.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #{{ site.data.template.color.primary }};
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
    color: #fff;
    background-color: #{{ site.data.template.color.primary }};
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #{{ site.data.template.color.primary }};
    color: #fff;
    background-color: #{{ site.data.template.color.secondary }};
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #{{ site.data.template.color.primary }};
    background-color: #{{ site.data.template.color.primary }};
}

.btn-primary .badge {
    color: #{{ site.data.template.color.primary }};
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 700;
}

.btn-sm {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
}

.btn-sm, .btn-xl {
    color: #fff;
    background-color: #{{ site.data.template.color.primary }};
    border-color: #{{ site.data.template.color.primary }};
    border-radius: 3px;
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
}

.btn-sm:hover,
.btn-sm:focus,
.btn-sm:active,
.btn-sm.active,
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #{{ site.data.template.color.primary }};
    color: #fff;
    background-color: #{{ site.data.template.color.secondary }};
}

.btn-sm:active,
.btn-sm.active,
.open .dropdown-toggle.btn-sm,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}
.btn-sm.disabled,
.btn-sm[disabled],
fieldset[disabled] .btn-sm,
.btn-sm.disabled:hover,
.btn-sm[disabled]:hover,
fieldset[disabled] .btn-sm:hover,
.btn-sm.disabled:focus,
.btn-sm[disabled]:focus,
fieldset[disabled] .btn-sm:focus,
.btn-sm.disabled:active,
.btn-sm[disabled]:active,
fieldset[disabled] .btn-sm:active,
.btn-sm.disabled.active,
.btn-sm[disabled].active,
fieldset[disabled] .btn-sm.active,
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #{{ site.data.template.color.primary }};
    background-color: #{{ site.data.template.color.primary }};
}

.btn-sm .badge,
.btn-xl .badge {
    color: #{{ site.data.template.color.primary }};
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    /*background-color: #222;*/
    /*background-color: transparent;*/
    background-color: white;
}

.navbar-default:active,
.navbar-default:hover,
.navbar-default:focus  {
    /*box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.15);*/
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #{{ site.data.template.color.primary }};
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #{{ site.data.template.color.secondary }};
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #{{ site.data.template.color.primary }};
    background-color: #{{ site.data.template.color.primary }} !important;
}

.navbar-default .navbar-toggle .icon-bar {
    /*background-color: #fff;*/
    background-color: gray;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    /*background-color: #{{ site.data.template.color.primary }};*/
    background-color: black;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    /*font-family: {{ site.data.template.font.primary }};*/
    font-family: "Lato","Helvetica Neue","Helvetica","Arial","sans-serif";
    font-weight: 1.3em;
    font-weight: 400;
    letter-spacing: 1px;
    /*color: #fff;*/
    color: #000;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    /*outline: 0;*/
    /*color: #{{ site.data.template.color.primary }};*/
    /*border-bottom: 8px solid #ffcb62;*/
    color: rgba(113, 111, 111, 0.7);;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #{{ site.data.template.color.primary }};
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #{{ site.data.template.color.secondary }};
}

@media(min-width:768px) {
    .navbar-default-color {
        /*padding: 25px 0;*/
        border-color: rgba(255,255,255,.5) !important;
    }
    .navbar-default {
        border: 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        /*background-color: #222;*/
        /*background-color: #007961;*/
        /*box-shadow: 4px 10px rgba(255, 203, 98, 0.4);*/
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    height: 100vh;
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    /*background-image: url('{{ site.baseurl }}/css/2016_style/img/design-workshop.jpg');*/
    background-image: url('../../images/1_constructs/1_variable/peter_parker/4.png');
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 25vh;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

@media(min-width:768px) {    
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: {{ site.data.template.font.secondary }};
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: {{ site.data.template.font.primary }};
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

section {
    /*padding: 100px 0;*/
}

aside.clients h2,
section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 120%;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        /*padding: 150px 0;*/
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#speakers .speakers-item {
    right: 0;
    margin: 0 0 15px;
}

#speakers .speakers-item .speakers-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#speakers .speakers-item .speakers-link .speakers-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: #3cb371;
}

#speakers .speakers-item .speakers-link .speakers-hover:hover {
    opacity: 1;
}

#speakers .speakers-item .speakers-link .speakers-hover .speakers-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 120%;
    color: #fff;
}

#speakers .speakers-item .speakers-link .speakers-hover .speakers-hover-content i {
    margin-top: -12px;
}

#speakers .speakers-item .speakers-link .speakers-hover .speakers-hover-content h3,
#speakers .speakers-item .speakers-link .speakers-hover .speakers-hover-content h4 {
    margin: 0;
}

#speakers .speakers-item .speakers-caption {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 5px;
    max-width: 400px;
    min-height: 100px;
    text-align: center;
    background-color: #fff;
}

#speakers .speakers-item .speakers-caption h4 {
    margin: 0;
    text-transform: none;
}

/*
#speakers .speakers-item .speakers-caption p {
    margin: 0;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 100%;
    font-style: italic;
}
*/

#speakers * {
    z-index: 2;
}

@media(min-width:767px) {
    #speakers .speakers-item {
        margin: 0 0 30px;
    }
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #{{ site.data.template.color.primary }};
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 100%;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 100%;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 100%;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 10px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 10px 20px 20px;
    }
}

aside.clients img {
    margin: 50px auto;
}

section#contact {
    background-color: #222;
    background-image: url('{{ site.baseurl }}/css/2016_style/img/coding.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #{{ site.data.template.color.primary }};
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 25px 0;
    text-align: center;
    /*background-color: white;*/
    background-color: white;
    position: absolute;
    right: 0;
    left: 0;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: {{ site.data.template.font.primary }};
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: {{ site.data.template.font.primary }};
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #00283c;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #{{ site.data.template.color.primary }};
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 140%;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 100%;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

::-moz-selection {
    text-shadow: none;
    background: #{{ site.data.template.color.primary }};
}

::selection {
    text-shadow: none;
    background: #f2f2f2;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #{{ site.data.template.color.primary }};
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:100px;
    padding: 0px 15px;
}

#gallery {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

#design-process-page {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 10px;
    justify-content: center;
}

figure {
    width:100%;
    overflow: hidden;
}

figure > img {
    width:100%;
    min-height:400px;
    object-fit: cover;
}

.coding-strip {
    margin:1.3%;
    width:33.3%;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.28);;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.28);
}

.coding-strip:hover {
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.28);
}

.coding-strip > span {
    padding: 20px;
    align-self: center;
    align-items: flex-end;
}

.coding-strip > figure {
    max-height: 400px;
}

article, figure {
    display: flex;
}

.strip-title {
    text-align: center;
}

#design-process {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    padding: 30px;
}

#design-process > p {
    font-size: 1.6em;
}

.design-process-container {
    display: flex;
    flex-direction: row;
}

.design-process-container > img {
    min-height: 0;
    flex: 1;
    width: 40%;
    height: 40%;
}

.design-process-container > p {
    flex: 1;
    padding-left: 20px;
    padding-right: 0px;
    font-size: 1.6em;
}

#ideation-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

#publications {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    padding: 30px;
}

.publication-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    padding: 20px;
    /*box-shadow: 8px 8px 4px #e1e1ca;*/
    /*box-shadow: 16px 16px 0px floralwhite;*/
    /*border-bottom: 5px solid floralwhite;*/
}

.publication-row > div {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    padding-left:30px;
}

.publication-image {
    flex: 1;
    width: 50%;
    height: 50%;
}

.publication-row > div > h1 {
    font-size: 2.5em;
}

.publication-row > div > span {
    font-size: 1.3em;
}

#ideation-cards > .row {
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    max-height: 220px;
    /*margin-top: 13px;*/
    /*display: inline-flex;*/
    line-height:1.5;
    vertical-align: top;
    /*margin-left: 50px;*/
    margin: 20px;
    /*pointer-events: none;*/
    cursor: default;
}

.card-title {
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
    color: black;
}

.card-text {
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
    font-size: 0.8em;
}

.trigger.card {
    text-decoration: none;
    min-height:250px;
    width: 200px;
    padding: 10px;
    margin: 20px;
    border: 10px solid #d1caca;
    border: 10px solid rgba(209, 202, 202, 0.3);
    /*opacity: 0.7;*/
}

.trigger.card:hover,
.trigger.card:active,
.trigger.card:focus {
    opacity: 0.7;
    color: black;
}

.trigger.card > .card-body > .card-title {
    min-height: 40px;
    line-height: 1.4;
}

.card-body {
    text-align: center;
}

.scenario.card {
    min-height:270px;
    /*opacity: 0.75;*/
    padding: 0 10px;
}

.scenario.card.clicked {
    /*opacity: 1;*/
}

.scenario.card.conflicts {
    border: 10px solid #F5938D;
    border: 10px solid rgba(245, 147, 141, 1);
}

.scenario.card.conflicts:hover {
    opacity: 1;
    border: 10px solid #F5938D;
    border: 10px solid rgba(245, 147, 141, 0.7);  
}

.scenario.card.conflicts.clicked {
    border: 10px solid #F5938D;
    border: 10px solid rgba(245, 147, 141, 1);
}

.scenario.card.actions {
    border: 10px solid #96BAF1;
    border: 10px solid rgba(150, 186, 241, 1);
}

.scenario.card.actions:hover {
    opacity: 1;
    border: 10px solid #96BAF1;
    border: 10px solid rgba(150, 186, 241, 0.7);
}

.scenario.card.actions.clicked {
    border: 10px solid #96BAF1;
    border: 10px solid rgba(150, 186, 241, 1)
}

.scenario.card.things {
    border: 10px solid #FDE6A0;
    border: 10px solid rgba(253, 230, 160, 1);
}

.scenario.card.things:hover {
    opacity: 1;
    border: 10px solid #FDE6A0;
    border: 10px solid rgba(253, 230, 160, 0.7)
}

.scenario.card.things.clicked {
    border: 10px solid #FDE6A0;
    border: 10px solid rgba(253, 230, 160, 1);
}

.scenario.card.settings {
    border: 10px solid #6FC593;
    border: 10px solid rgba(111, 197, 147, 1);
}

.scenario.card.settings:hover {
    opacity: 1;
    border: 10px solid #6FC593;
    border: 10px solid rgba(111, 197, 147, 0.7);
}

.scenario.card.settings.clicked {
    border: 10px solid #6FC593;
    border: 10px solid rgba(111, 197, 147, 1);
}

a:hover {
    text-decoration: none !important;
}

.card-img-top {
    width:70px;
    height:70px;    
    margin: auto;
    margin-top: 15px;   
}

.card-img-bottom {
    width:50px;
    height:50px;
    margin: auto;
    margin-bottom: 15px;
}

.design.card {
    min-height:250px;
    opacity: 0.75;
}

.design.card > .card-body {
    min-height:135px;
    max-height: 135px;
}

.design.card.explanation {
    border: 10px solid #9391EF;
    border: 10px solid rgba(147, 145, 239, 1);
}

.design.card.explanation:hover {
    opacity: 1;
    border: 10px solid #9391EF;
    border: 10px solid rgba(147, 145, 239, 0.7);
}

.design.card.explanation.clicked {
    border: 10px solid #9391EF;
    border: 10px solid rgba(147, 145, 239, 1);
}

.design.card.selection {
    border: 10px solid #B06279;
    border: 10px solid rgba(176, 98, 121, 1);
}

.design.card.selection:hover {
    opacity: 1;
    border: 10px solid #B06279;
    border: 10px solid rgba(176, 98, 121, 0.7);
}

.design.card.selection.clicked {
    border: 10px solid #B06279;
    border: 10px solid rgba(176, 98, 121, 1);
}

.design.card.repetition {
    border: 10px solid #FFB258;
    border: 10px solid rgba(255, 178, 88, 1)
}

.design.card.repetition:hover {
    border: 10px solid #FFB258;
    border: 10px solid rgba(255, 178, 88, 0.7)
}

.design.card.repetition.clicked {
    border: 10px solid #FFB258;
    border: 10px solid rgba(255, 178, 88, 1)
}

.design.card.sequence {
    border: 10px solid #FDE6A0;
    border: 10px solid rgba(253, 230, 160, 1);
}

.design.card.sequence:hover {
    border: 10px solid #FDE6A0;
    border: 10px solid rgba(253, 230, 160, 0.7);
}

.design.card.sequence.clicked {
    border: 10px solid #FDE6A0;
    border: 10px solid rgba(253, 230, 160, 1);
}

.design.card.presentation {
    border: 10px solid #4565B3;
    border: 10px solid rgba(69, 101, 179, 1);
}

.design.card.presentation:hover {
    border: 10px solid #4565B3;
    border: 10px solid rgba(69, 101, 179, 0.7);
}

.design.card.presentation.clicked {
    border: 10px solid #4565B3;
    border: 10px solid rgba(69, 101, 179, 1);
}

.divider {
    width: 100%;
    font-size: 3em;
    text-align: center;
    padding: 30px;
    /*border: 3px solid rgb(126 122 148 / 84%);*/
    /*background-color: #a47410;*/
    color: #a47410;
}

.publication-title {
    font-size: 2.7em;
    color: black !important;
}

.publication-title:hover,
.publication-title:focus,
.publication-title:active {
    text-decoration: underline !important;
    text-decoration-color: #f4cd84 !important;
    -webkit-text-decoration-color: #f4cd84 !important;
}

.coding-strip-title {
    font-size:1.5em;
}

#coding-strip-info {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

.nav-brand a:hover,
.nav-brand a:active,
.nav-brand a:focus {
    /*pointer-events: none;*/
    border-bottom: 0px solid white;
}

#coding-strip-info > div {
    flex: 1.3;
    font-size: 1.6em;
}

#coding-strip-info > img {
    flex: 1;
    width: 50%;
    padding-left:20px;
    min-height:150px;
}

.description-section {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.description-section > p {
    font-size:1.6em;
}

.description-section > h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 35px;
}

.description-section > ul > li {
    font-size:1.5em;
}

.description-section > h1 {
    width: 100%;
}

#main-page {
    /*margin-top: 50px;*/
    padding: 30px;
}

#main-description {

}

#design-tools-container {
    display: flex;
    flex-direction: row;
}

#design-tools-container > img {
    flex: 1;
    border: 1px solid gray;
    min-height:0;
    width: 50%;
    height:50%;
}

#design-tools-container > p {
    flex: 1.2;
    font-size: 1.6em;
    padding-right: 20px;
}

.download-print-text {
    font-size: 1.2em;
}

@media screen and (max-width : 1200px){
  main {
    padding: 0 25px;
  }
  body {
      padding-bottom: 100px;
  }
  .coding-strip {
    width: 30%;
  }
  .divider {
    font-size: 2.4em !important;
  }
  .row {
    flex-wrap: wrap;
  }
  .design-process-container {
    margin-top: 50px;
  }
  .design-process-container > p {
    flex:1.3;
    /*width: 40% !important;*/
  }  
  .design-process-container > img {
    /*min-width: 500px;*/
    flex:1;
    width: 50% !important;
    height:50% !important;
  }
  #coding-strip-info {
    
  }
  #coding-strip-info > div {
    font-size:1.5em;
    flex:1.2;
  }
  #coding-strip-info > img {
    flex:1;
    width: 50%;
  }
}

@media screen and (max-width : 1040px){
  main {
    padding: 0 30px;
  }
  .design-process-container {
    flex-direction: column !important;
    align-items: center;
    padding: 0px 10px;
  }
  .design-process-container > img {
    /*width:55% !important;*/
  }
  .divider {
    font-size: 2em !important;
  }  
  .description-section > p {
    font-size: 1.3em;
  }
  #design-process > p {
    font-size: 1.3em;
  }
  .description-section > ul > li {
    font-size: 1.3em;
  }
  .description-section > h1 {
    font-size: 2em !important;
  }
  .design-process-container > p {
    padding: 0px;
    font-size: 1.3em;
  }
  .coding-strip {
    max-height: 400px;
  }  
  #design-tools-container {
    flex-direction: column !important;
    align-items: center;
    padding: 0px 10px;
  }
  #design-tools-container > p {
    padding: 0px;
    font-size: 1.3em;
  }
  #design-tools-container > img {
    width: 70%;
    height: 70%;
  }
  #coding-strip-info > div {
    font-size: 1.3em;
    flex:0.9;
  }  
  .publication-row {
    flex-direction: column !important;
  }
  .publication-row > figure > img {
    width:70%;
  }
  .publication-image {
    justify-content: center;
    width: 70%;
    height: 70%;
    align-self: center;
  }
  .publication-title {
    padding-left: 30px;
    padding-right: 30px;
  }
  .publication-authors {
    padding-left: 30px;
    padding-right: 30px;
  }
  .nav-brand {
    display: none !important;
  }
  .publication-title {
    font-size:1.7em;
  }
  figure > img {
    min-height: 0px;
  }
}

@media screen and (max-width : 768px){
  main {
    padding: 0 25px;
  }    
  body {
      padding-bottom: 150px;
  }
  .description-section {
    padding: 0px;
  }
  .description-section > p {
    font-size: 1.3em;
  }
  .divider {
    font-size: 1.7em !important;
  }
  .description-section > h1 {
    font-size: 1.7em !important;
  }  
  .row {
    flex-direction: row !important;
  }
  .coding-strip {
    width: 55% !important;
    margin: auto !important;
    margin-bottom: 50px !important;
  }
  .design-process-container {
    flex-direction: column !important;
    align-items: center;
  }
  .design-process-container > img {
    width: 70% !important;
    height: 70% !important;
  }  
  #coding-strip-info {
    flex-direction: column;
    padding-right: 0px;
  }
  #coding-strip-info > div {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    font-size:1.4em;
    order: 2;
  }
  #coding-strip-info > img {
    justify-content: center;
    min-height: 100px;
    margin-bottom: 50px;
    padding: 0;
    width: 85%;
    order: 1;
  }
  #ideation-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .publication-row {
    flex-direction: column !important;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
  .publication-row > div {
    padding-left: 0;
  }
  .publication-image {
    width: 80%;
    height: 80%;
    align-self:center;
  }
}

.page-scroll.active {
    border-bottom: 8px solid #ffcb62;
}

.nav li a {
    padding-bottom:10px;
}