<section class="meta">
	<h1>{{page.concept}}</h1>
	<div class="codingstrip-authors">
		{% for strip in strips %}
		{% if strip.id == page.id %}
		{% for author in strip.authors %}
		{% if forloop.last %}
		{{ author }}
		{% else %}
		{{ author }} & 
		{% endif %}
		{% endfor %}	
	</span>
	{% endif %}
	{% endfor %}
</div>
</section>

<section class="codingstrip-container">
	<section class="codingstrip">
		{% for strip in strips %}
		{% if strip.id == page.id %}
		{% if strip.path_combined %}
			<img src="{{strip.path_combined}}"  width="100%" height="100%" class="combined_images" style="object-fit:contain" alt="">
		{% else %}
			{% for each in strip.path %}
			<img src="{{each.path_url}}" width="{{each.width}}" height="{{ each.height }}" style="object-fit:contain" alt="">
			{% endfor %}		
		{% endif %}
		{% endif %}
		{% endfor %}
	</section>
	<br>
	{% for strip in strips %}
		{% if strip.id == page.id %}
			{% if strip.code %}<pre id="code" class="code-panel">{{strip.code}}</pre><br>
			<button id="button">Copy code</button><br>
			{% endif %}
		{% endif %}
	{% endfor %}
</section>

<section class="license">
	<h3>License</h3>
	The images and resources in this website are free to use for educational purposes.<br>
	<div style="font-size: 0.9em">	
		1. Right Click Image<br>
		2. Click "Save Image As"	
	</div>	
</section>

<script>

	function copyFunction() {
	  const copyText = document.getElementById("code").textContent;
	  const textArea = document.createElement('textarea');
	  textArea.textContent = copyText;
	  document.body.append(textArea);
	  textArea.select();
	  document.execCommand("copy");
	  textArea.remove();
	}

	document.getElementById('button').addEventListener('click', copyFunction);

	$(document).ready(function() {
		$('.page-scroll.active').removeClass('active');
		$('#gallery-tab').addClass('active');	
	});		
</script>