<div style="display: none"><script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=n&d=jaWV6E4XeDGpO5Qv7QkIm843bwaKhQhnQ2OfWUQR0aI'></script></div>
<div id="main-page">
	<section class="description-section">
		<h1 class="divider">What is coding strip?</h1>
		<section id="coding-strip-info">
			<div><i>Coding strip</i> is a form of comic strip accompanied by its corresponding code. It presents programming concepts in both concrete and abstract contexts/representations to support the teaching and learning of programming concepts, languages, and procedures. It is different from comic books on programming as it is accompanied by its corresponding code, which allows readers to move up and down the ladder of abstraction. 
			<br><br>
			This site shares information and resource related to <i>coding strip</i>. We provide a list of examples as well as its design process and tools. To learn about its research, see <a href="/publications">publications</a>. For any queries, please contact <a href="https://sanghosuh.github.io/" target="_blank">Sangho Suh</a> (sanghosuh at ucsd dot edu).
			</div>	
			<img src='../images/6_paper/vlhcc-abstraction_ladder-min.png' alt="">
		</section>
	</section>

	<section id="gallery">
		<h1 class="divider">Gallery</h1>
		{% for strip in site.data.twenty_20.coding_strips %}
		{% assign mod = forloop.index | modulo: 3 %}
		{% if mod == 1 %}<section class="row">{% endif %}
			{% if strip.link %}
			<a class="coding-strip" href="{{ strip.link }}">
				<figure class="image">
					<img src="{{ strip.path_compressed | prepend: site.baseurl }}" width="{{ strip.width }}" height="{{ strip.height }}" alt="{{ strip.alt }}">
				</figure>
				<div class="strip-title">
					<h2 class="coding-strip-title">{{ strip.title }}</h2>
					<span class="coding-strip-concept">({{ strip.concept }})</span>
				</div>
				<span class="authors">
					{% for author in strip.authors %}
					{% if forloop.last %}
					{{ author }}
					{% else %}
					{{ author }} & 
					{% endif %}
					{% endfor %}
				</span>
			</a>
			{% else %}
			<a class="coding-strip">
				<figure class="image">
					<img src="{{ strip.path_compressed | prepend: site.baseurl }}" width="{{ strip.width }}" height="{{ strip.height }}" alt="{{ strip.alt }}">
				</figure>
				<div class="strip-title">
					<h2 class="coding-strip-title">{{ strip.title }}</h2>
					<span class="coding-strip-concept">({{ strip.concept }})</span>
				</div>
				<span class="authors">
					{% for author in strip.authors %}
					{% if forloop.last %}
					{{ author }}
					{% else %}
					{{ author }} & 
					{% endif %}
					{% endfor %}
				</span>
			</a>
			{% endif %}
		{% if mod == 0 %}</section>{% endif %}
		{% endfor %}
	</section>
</div>
<script>
	$(document).ready(function() {
		$('.page-scroll.active').removeClass('active');
		$('#gallery-tab').addClass('active');	
	});
</script>
