---
layout: 2020_default
concept: variable
permalink: /codingstrips/stack-plates
concept: stack
id: stack-plates
---

{% assign strips = site.data.twenty_20.coding_strips %}

<section class="meta">
	<h1>{{page.concept}}</h1>
	<div class="codingstrip-authors">
		{% for strip in strips %}
		{% if strip.id == page.id %}
		{% for author in strip.authors %}
		{% if forloop.last %}
		{{ author }}
		{% else %}
		{{ author }} & 
		{% endif %}
		{% endfor %}	
	</span>
	{% endif %}
	{% endfor %}
</div>
</section>

<section class="codingstrip-container">
	<section class="codingstrip">
		{% for strip in strips %}
		{% if strip.id == page.id %}
		{% for each in strip.path %}
		<img src="{{each.path_url}}" width="{{each.width}}" alt="">
		{% endfor %}
		{% endif %}
		{% endfor %}
	</section>
	<br><br>
</section>

<section class="license">
	<h3>License</h3>
	The images and resources in this website are free to use for educational purposes.<br>
	<div style="font-size: 0.9em">	
		1. Right Click Image<br>
		2. Click "Save Image As"	
	</div>	
</section>

<script>
	$(document).ready(function() {
		$('.page-scroll.active').removeClass('active');
		$('#gallery-tab').addClass('active');	
	});		
</script>