---
layout: 2020_default
permalink: /design-process
---

<section class="description-section">
	<h1 class="divider">design process & tools</h1>
	<p>Here, we present the design process & tools for designing coding strips, which we developed and tested at design workshops---the workshop website is <a href="/design-workshop" target="_blank">here</a>. Also, our <a href="/publications">paper</a> describes design workshops, process, and tools in more detail.</p>
	<!-- <p>A print version of these tools are here: [<a href="">design board</a>] [<a href="">trigger cards</a>] [<a href="">scenario cards</a>] [<a href="">design cards</a>]</p> -->
</section>

<section id="design-process">
	<h1 class="divider">design process</h1>
	<div class="design-process-container">
		<figure>
			<img src="../images/7_design_tools/design-process.png" alt="">
		</figure>
		<p>There are three stages in the design process, with trigger & scenario cards supporting transition from concept to story and design cards from story to coding strip.</p>
	</div>
	<br><br><br>
	<div id="design-tools-container">
		<p>This is a design board that was used during our design workshops to guide workshop participants through the stages in the design process. You can download a print version of this design board <a href="">here</a>.</p>
		<figure>
			<img src="../images/7_design_tools/design_board.png" alt="">
		</figure>		
	</div>
</section>

<!-- <section class="description-section"> -->
	<!-- <p>To learn more, visit <a href="/publications">publication</a> or <a href="/design-workshop">design workshop</a></p> -->
<!-- </section> -->

<section id="ideation-cards">

	<h1 class="divider">Trigger Cards</h1>
	<p class="download-print-text">Download a print version <a href="">here</a> (print double-sided).</p>
		<section class="row">
			{% for trigger in site.data.twenty_20.trigger-cards %}
			<a id=''  href='' class='trigger card'>
				<div class="card-body">
					<h5 class="card-title"> {{ trigger.question }} </h5>
				</div>
				<img class='card-img-bottom' src='{{ trigger.path }}' alt=''>
			</a>
			{% endfor %}
		</section>
		<h1 class="divider">Scenario Cards</h1>
		<p class="download-print-text">Download a print version <a href="">here</a> (print double-sided).</p>
		<section class="row	">
			{% for scenario in site.data.twenty_20.scenario-cards %}
				<a href='' class='scenario card {{ scenario.type }}'>
					<img src='{{ scenario.path }}' class='card-img-top' alt=''>
					<div class='card-body'>
						<h5 class='card-title'>{{ scenario.theme }}</h5>
						<p class='card-text'>{% for elem in scenario.elements %}{% if forloop.index < 8 %}{% if elem.last %}{{ elem }}{% else %}{{ elem }}, {% endif %}{% endif %}{% endfor %}</p>
					</div>
				</a>
			{% endfor %}
		</section>
		<h1 class="divider">Design Cards</h1>
		<p class="download-print-text">Download a print version <a href="">here</a> (print double-sided).</p>
		<section class="row">
		{% for design in site.data.twenty_20.design-cards %}
		<a id='{{ design.path }}' href='' class='design card {{ design.type }}'>
		<img src='{{ design.path }}' style='width: {{ design.width }}px; height: {{ design.height }}px' class='card-img-top' alt=''>
		<div class='card-body'>
		<h5 class="card-title">{{ design.pattern }}</h5>
		<!-- <p class='card-text'>{{ design.description }}</p> -->
		<button type="button" class="btn btn-outline-primary" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="{{ design.description }}">
		Description</button></div></a>
		{% endfor %}
		</section>
	</section>

<section class="description-section">
	<hr size="30" width="100%" noshade>
	<h1>Acknowledgement</h1>
	<ul>
		<li>Icons in trigger & scenario cards are from <a href="https://icons8.com/" target="_blank">icons8</a></li>
		<li>Some design patterns are from <a href="https://dl.acm.org/doi/10.1145/3173574.3173612" target="blank">Design Patterns for Data Comics</a></li>
	</ul>
</section>
<script>
	$(document).ready(function() {
		$('.page-scroll.active').removeClass('active');
		$('#design-process-tab').addClass('active');	
	});	
</script>