---
layout: 2020_default
permalink: /publications
---

<section id="publications">
	<h1 class="divider">Publications</h1>
	{% for publication in site.data.twenty_20.publications %}
	<section class="publication-row">
		<figure class="publication-image">
			<img src="{{publication.path}}" alt="">
		</figure>
		<div>
			<a href="{{publication.link}}" target="_blank"><h1 class="publication-title">{{publication.title}}</h1></a>
			<span>{% for author in publication.authors %}{% if forloop.last %}{{ author }}.{% else %}{{ author }}, {% endif %}{% endfor %} {{ publication.conference }}, {{ publication.year }}</span>
		</div>
	</section>
	<hr size="30" width="100%" noshade>
	{% endfor %}
</section>
<script>
	$(document).ready(function() {
		$('.page-scroll.active').removeClass('active');
		$('#publications-tab').addClass('active');	
	});		
</script>